[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pillow = "*"
python-dotenv = "*"
ffmpeg-python = "*"
tinytag = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
